body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.column {
    width: 50%;
    float: left;
    padding: 0 10px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-group input[type="time"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

.btn {
    margin: 20px auto;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

.adicionar-btn {
    display: block;

}

.refresh-btn {
    font-size: 14px;
    margin: none;
    padding: 8px;
}

.adicionar-btn i {
    margin-right: 5px;
}


#horarios {
    width: 100%;
}

#horarios td {
    padding: 0 10px;
}

.remover-btn {
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    padding: 9px;
}

.remover-btn i {
    margin-right: 0;
}

#resultado {
    background-color: #f0fff1;
    display: flex;
    justify-content: center;
    border: 1px solid #ccc;
    padding: 25px;
    margin: 5px 100px;
    border-radius: 5px;
    font-size: 19px;
    color: #606060;
}